
# To use this file, make a copy and rename it to ".env".
# Here you can set variables without modifying the code or changing the repository (.env is in .gitignore).
# After changing these values, you must reload the Nasal add-on code.

#
# DEV_MODE set to true will enable development features.
# The RELOAD_MENU and RELOAD_MULTIKEY_CMD options require this value to be set to true. This also sets the
# g_isDevMode variable, which can be used to execute code that you only want to run for debugging purposes.
#
DEV_MODE=false

#
# RELOAD_MENU is using to add "Dev Reload" menu item for reloading the add-on's Nasal code.
# Requires DEV_MODE to be set to true.
#
RELOAD_MENU=false

#
# RELOAD_MULTIKEY_CMD is using to set multi-key command to reload the add-on's Nasal code.
# Commands must be at least 3 characters long. I recommend starting with the characters "Ya":
#  - "Y" is used in FlightGear and starts the sequence for the "Development functions",
#  - "a" from "add-ons" (not used in FlightGear),
#  - "r" from "reload"
#  - and then add your own character.
# This key sequence can only contain alphanumeric characters and cannot start with a number.
# The multi-key command will have no hint that you are following the correct key combination.
# Requires DEV_MODE to be set to true.
#
RELOAD_MULTIKEY_CMD="Yarfr"

#
# TEST_MULTIKEY_CMD is using to set multi-key command to run Nasal unit tests.
# Commands must be at least 3 characters long. I recommend starting with the characters "Ya".
#  - "Y" is used in FlightGear and starts the sequence for the "Development functions",
#  - "a" from "add-ons" (not used in FlightGear),
#  - "t" from "tests"
#  - and then add your own character.
# This key sequence can only contain alphanumeric characters and cannot start with a number.
# The multi-key command will have no hint that you are following the correct key combination.
# Requires DEV_MODE to be set to true.
#
TEST_MULTIKEY_CMD="Yatfr"

#
# MY_LOG_LEVEL is using in Log.print() to quickly change all logs visibility used in addon's namespace.
# Possible values: LOG_ALERT, LOG_WARN, LOG_INFO, LOG_DEBUG, LOG_BULK.
#
MY_LOG_LEVEL=LOG_ALERT
